body {
    margin: auto;
    width: 600px;
    background: radial-gradient(ellipse 70% 40% at 50% 71%, #763CACFF 10%, #2A116700 65%), #0E0419;
    background-repeat: no-repeat;
}

header {
    background: linear-gradient(135deg, #180529 4%, #2B0F48 21%, #2C094B 37%, #2B0F48 52%, #180529 75%);
    border-radius: 15px;
    box-shadow: 4px 7px 26px 0 rgba(0, 0, 0, 0.2);
    padding: 30px;
    margin-top: 200px;
    transition: transform 1s ease;
    transform: scale(1);
    cursor: pointer;
}

header:hover {
    transform: scale(1.08);
}

h1 {
    font-family: "Roboto", sans-serif;
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    color: #DCC4F4;
}

h2 {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 350;
    text-align: center;
    color: white;
}