body {
    margin: 0;
    display: grid;
    justify-items: center;  
    align-items: start; 
    overflow: hidden;
    min-height: 100vh;
    font-family: "IBM Plex Mono", monospace;
    background-color: rgb(0, 0, 0);
    background-image: url(images/matrix_background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    position: absolute;
    top: 16px;
    text-align: center;
}

h1 {
    font-family: "Orbitron", sans-serif;
    font-size: 32px;
    font-weight: 500;
    color: #4EF17A;
    letter-spacing: 2px;
}

main {
    position: relative;
    width: 1200px;
    height: 750px;
    display: grid;
    place-items: center;
    box-sizing: border-box;
    padding-top: 64px;

}

.questions, .story{
    width: 600px;
    padding: 12px 32px;
    background: rgba(0, 0, 0, 0.925);
    border: 1px solid rgba(44, 44, 44, 1);
    border-radius: 16px;
    box-sizing: border-box;
}

.questions {
    height: 620px;
}

form {
    margin: 0;
    height: 100%;
}

form p {
    margin: 0;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-top: 10px;
    margin-bottom: 6px;
    font-size: 14px;
    color: white;
}

input[type="text"] {
    width: 100%;
    height: 24px;
    padding: 12px 8px;
    background: transparent;
    border: 1px solid rgba(0, 154, 34);
    box-sizing: border-box;
    color: rgba(61, 175, 88); 
    font-size: 16px;
}

input[type="text"]:focus {
    outline: none;
    border-color: rgb(0, 255, 76);
    box-shadow: 0 0 0 2px rgba(60, 255, 120, 0.15);
}

input[type="submit"], .retry {
    display: block;
    margin-left: auto;
    margin-top: 6px;
    margin-bottom: 8px;
    padding: 10px 18px;
    border: 0;
    border-radius: 999px;
    cursor: pointer;
    font-family: "Orbitron", sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    background: rgb(8, 160, 41);
    color: black;
    transition: background-color 0.6s ease;
}

input[type="submit"]:hover, .retry:hover {
    background-color: rgb(0, 255, 43);
}

.incomplete {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#error {
    margin-top: 12px;
    flex: 1;
    text-align: left;
    font-size: 16px;
    color: rgba(229, 62, 62);
}

.story {
    display: none;
    height: auto;
    max-height: 620px;
    overflow-y: auto;
}

body.output .questions {
    display: none;
}

body.output .story {
    display: block;
}

.story p {
    margin-bottom: 0;
    line-height: 2.4em;
    font-size: 18px;
    color: white; 
}
