body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0E0419;
}

.page {
    width: 1200px;
    height: 750px;
    background: radial-gradient(ellipse 60% 40% at 50% 63%, #763CACFF 10%, #2A116700 65%), #0E0419;
    overflow: hidden;
}

.banner {
    width: 100%;
    height: 250px;
    background-color: #210936;
    margin-top: 0;
    box-shadow: 0 6px 20px -3px rgba(0, 0, 0, 0.5);
}

.banner-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0px 200px;
}

.header-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    transition: transform 1s ease;
    transform: scale(1);
}

.title {
    font-family: "Roboto", sans-serif;
    font-size: 96px;
    font-weight: 800;
    background: linear-gradient(90deg, #542282 0%, #9660C8 25%, #C2ABD7 50%, #9660C8 75%, #542282 100%);
    background-clip: text;
    color: transparent;
    margin: 0;
    transition: transform 1s ease;
    transform: scale(1);
    cursor: pointer;
}

.title:hover {
    transform: scale(1.08);
}

.subtitle {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: white;
    margin: 0;
    line-height: 1.2em;
    transition: transform 1s ease;
    transform: scale(1);
    cursor: pointer;
}

.subtitle:hover {
    transform: scale(1.08);
}

.header-image {
    position: relative;
    transition: transform 1s ease;
    transform: scale(1);
    cursor: pointer;
}

.header-image:hover {
    transform: scale(1.08);
}

.header-image img {
    display: block;
}

.header-image::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 223px;
    height: 117px;
    animation: cycle 8s infinite, crossFade 8s infinite;
}

@keyframes cycle {
    0%, 24% {background-image: url("images/chrome.png");}
    25%, 49% {background-image: url("images/figma.png");}
    50%, 74% {background-image: url("images/youtube.png");}
    75%, 100% {background-image: url("images/spotify.png");}
}

@keyframes crossFade {
    0%      {opacity: 0.5;}
    1%      {opacity: 0.6;}
    2%      {opacity: 0.7;}
    3%      {opacity: 0.8;}
    4%      {opacity: 0.9;}
    5%      {opacity: 1;}

    18%     {opacity: 1;}
    19%     {opacity: 0.9;}
    20%     {opacity: 0.8;}
    21%     {opacity: 0.7;}
    22%     {opacity: 0.6;}
    23%     {opacity: 0.5;}
    24%     {opacity: 0.3;}
    25%     {opacity: 0.5;}
    26%     {opacity: 0.6;}
    27%     {opacity: 0.7;}
    28%     {opacity: 0.8;}
    29%     {opacity: 0.9;}
    30%     {opacity: 1;}

    43%     {opacity: 1;}
    44%     {opacity: 0.9;}
    45%     {opacity: 0.8;}
    46%     {opacity: 0.7;}
    47%     {opacity: 0.6;}
    48%     {opacity: 0.5;}
    49%     {opacity: 0.3;}
    50%     {opacity: 0.5;}
    51%     {opacity: 0.6;}
    52%     {opacity: 0.7;}
    53%     {opacity: 0.8;}
    54%     {opacity: 0.9;}
    55%     {opacity: 1;}

    68%     {opacity: 1;}
    69%     {opacity: 0.9;}
    70%     {opacity: 0.8;}
    71%     {opacity: 0.7;}
    72%     {opacity: 0.6;}
    73%     {opacity: 0.5;}
    74%     {opacity: 0.3;}
    75%     {opacity: 0.5;}
    76%     {opacity: 0.6;}
    77%     {opacity: 0.7;}
    78%     {opacity: 0.8;}
    79%     {opacity: 0.9;}
    90%     {opacity: 1;}


    94%     {opacity: 1;}
    95%     {opacity: 0.9;}
    96%     {opacity: 0.8;}
    97%     {opacity: 0.7;}
    98%     {opacity: 0.6;}
    99%     {opacity: 0.5;}
    100%    {opacity: 0.3;}
}

.cards {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 48px;
    box-sizing: border-box;
    padding: 48px 50px;
    padding-bottom: 0;
}

.card {
    flex: 1;
    background: linear-gradient(135deg, #180529 4%, #2B0F48 21%, #2C094B 37%, #2B0F48 52%, #180529 75%);
    padding: 10px 16px;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 4px 7px 26px 0 rgba(0, 0, 0, 0.2);
    transition: transform 1s ease, box-shadow 1s ease;
    transform: scale(1);
    cursor: pointer;
}

.card:hover {
    transform: scale(1.08);
    box-shadow: 6px 11px 39px rgba(0, 0, 0, 0.1);
}

.card h2 {
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    font-weight: 500;
    color: #DCC4F4;
    text-align: center;
    margin-bottom: 10px;
}

.card ul {
    margin: 0;
    list-style-type: none;
    padding: 20px;
    margin: 0;
}

.card li {
    margin-bottom: 10px;
    line-height: 1.5em;
}

.card a {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    text-align: left;
    transition: color 0.8s ease;
}

.card a:hover {
    color: #cca9f0;
}

footer {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: white;
    line-height: 1em;
    padding-top: 30px;
    padding-left: 50px;
    line-height: 0.6em;
}

footer a {
    font-weight: 300;
    color: white;
    text-decoration: none;
}